/*****************************************
reset.css
******************************************/

html {
font-family: sans-serif;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure {    margin: 0;    padding: 0;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {     display:block;}
table {    border-collapse: separate;    border-spacing: 0;}
caption, th, td {    text-align: left;    font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {    content: "";}
blockquote, q {    quotes: "" "";}
sup{    vertical-align: super;    font-size:smaller;}
code{    font-family: 'Courier New', Courier, monospace;    font-size:12px;    color:#272727;}
::selection {  background: #333;  color: #fff;  }
::-moz-selection {  background: #333;  color: #fff;  }
a img{vertical-align:middle; max-width:100%;	border: none;}

img {
max-width: 100%;
}

:before, :after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
/* box-sizing: border-box; */
}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}


ol, ul { padding: 10px 0 20px;  margin: 0 0 0 35px;  text-align: left;  }
ol li { list-style-type: decimal;  padding:0 0 5px;  }
ul li { list-style-type: square;  padding: 0 0 5px;  }
ul ul, ol ol { padding: 0; }

h1, h2, h3, h4, h5, h6 { font-family: 'oswald', San-serif; font-weight: normal; }
.post-body h1 { line-height: 48px; font-size: 42px; margin: 10px 0; }
.post-body h2 { font-size: 36px; line-height: 44px;  padding-bottom: 5px; margin: 10px 0; }
.post-body h3 { font-size: 32px; line-height: 40px;  padding-bottom: 5px; margin: 10px 0; }
.post-body h4 { font-size: 28px; line-height: 36px; margin: 10px 0;  }
.post-body h5 { font-size: 24px; line-height: 30px; margin: 10px 0;  }
.post-body h6 { font-size: 18px; line-height: 24px; margin: 10px 0;  }

/*****************************************
Global Links CSS
******************************************/
a{ color: #333; outline:none; text-decoration: none; }
a:hover { color: #000; text-decoration:none; }

body {
background: #fff;
line-height: 1.6;
font-size: 16px;
font-family: 'Open Sans',sans-serif;
color: #020202;
}

.clr { clear:both; float:none; }


/*****************************************
Wrappers
******************************************/

.ct-wrapper { padding: 0px 15px; position: relative; max-width: 1170px; margin: 0 auto; }
.outer-wrapper { margin: 25px 0; position: relative; }

.main-wrapper {
width: 72%;
padding-left: 20px!important;
padding-right: 20px!important;
}

#content { position: relative; width: 100%; float: left; }


.sidebar-wrapper {
padding-left: 20px!important;
padding-right: 20px!important;
width: 28%;
}

.main-wrapper,.sidebar-wrapper{
float:left;
}


/**** Layout Styling CSS *****/
body#layout .header-wrapper {
margin: 0;
position: static;
padding:0;
}
body#layout .outer-wrapper, body#layout .sidebar-wrapper,body#layout .main-wrapper, body#layout .ct-wrapper { margin: 0!important; padding: 0!important; }
body#layout #About { width: 100%; }

#layout #blog-banner {
height: auto!important;
padding:0;
}

/*****************************************
Header CSS
******************************************/
.header-wrapper {
margin-top: 0;
display: inline-block;
width: 100%;
padding-top: 60px;
position: absolute;
z-index: 1000;
}


#header { display: inline-block; text-align: center; width: 100%; }
#header-inner{ margin: 0; padding: 0; }

#header h1 {
color: #FFFFFF;
font-size: 60px;
font-weight: bold;
line-height: 1;
text-transform: uppercase;
letter-spacing: 5px;
}

#header h1::before, #header h1::after {
content: '/';
margin: 0px;
text-align: center;
}

#header h1::after {
margin-left: -5px;
}



#header h1 a, #header h1 a:hover {  color: #fff;  }


a.logo {
display: block;
margin: 0;
line-height: 1;
padding: 0;
}
#header p.description{ color: #333; font-size: 12px; font-style: italic; text-shadow: 1px 1px #FFFFFF; margin: 0; padding: 0; text-transform:capitalize; }
#header img{   border:0 none; background:none; width:auto; height:auto; margin:0 auto;  }



aside.fixed-social {
position: fixed;
right: 0;
top: 20%;
z-index: 100000;
}

aside.fixed-social a {
color: white;
display: block;
position: relative;
right: 0px;
margin-bottom: 10px;
transition: all .5s ease;
-webkit-transition: all .5s ease;
color: #fff;
right: -135px;
background: #333;
padding: 12px 40px 12px 20px;
border-radius: 15px;
}

aside.fixed-social a:hover {
right: -15px;
}

aside.fixed-social a i {
font-size: 18px;
line-height: 1;
}

aside.fixed-social a text {
padding-left: 15px;
line-height: 22px;
}

aside.fixed-social a.fb {background: #2d4c8b!important;}
aside.fixed-social a.twitter{background:#34dfe6!important}
aside.fixed-social a.gplus{background: #C63D2D!important}
aside.fixed-social a.flickr{background:#e842ab!important}
aside.fixed-social a.linkedin{background:#0e76a8!important}
aside.fixed-social a.rss{background:#ff9000!important}

/*****************************************
Main Menu CSS
******************************************/
.head-menu {
margin-top: 0px;
}

.button-menu-mobile {
display: none;
}

.button-menu-mobile .fa {
color: #fff;
font-size: 24px;
}

.font-oswald {
font-family: 'oswald',serif;
}
ul.nav {
padding: 0;
margin: 0;
text-align: center;
}

.nav {
padding-left: 0;
margin-bottom: 0;
list-style: none;
}
.nav>li {
position: relative;
display: block;
}
.nav li {
position: relative;
display: inline-block;
padding:0;
margin:0;
list-style:none;
}



.nav>li>a {
position: relative;
display: block;
padding: 10px 15px;
}

.nav li a {
display: block;
padding: 0 40px;
font-size: 14px;
letter-spacing:2px;
color: #fff;
line-height: 1em;
-webkit-transition: all .3s linear;
-moz-transition: all .3s linear;
-ms-transition: all .3s linear;
-o-transition: all .3s linear;
transition: all .3s linear;
}



.nav .sub-menu li {
text-align: left;
display: block;
}

/*****************************************
Header Banner CSS
******************************************/
#blog_header{position:relative;
}

.nav-wrapper { 
display: inline-block; float: left; width: 100%; 
background-color: #000;
padding: 20px 0;
top: 0px;
margin: auto;
left: 0;
right: 0;
z-index: 999;
max-height:68px;
}

#blog-banner {
background: url('http://4.bp.blogspot.com/-ErpIS6mkWdo/VIVpRfM7pOI/AAAAAAAAHgk/lGZbqZJvwro/s1600/dots-texture.png') repeat, url('http://4.bp.blogspot.com/-SdbMtKPNBXY/VIVpSGCkkCI/AAAAAAAAHgs/T2ykOPWWS5o/s1600/blog-bg.jpg') no-repeat center;
}

#blog-banner {
background-size: 2px 2px, cover !important;
height: 500px;
text-align: center;
padding-top: 235px;
}

#blog-banner h1 {
font-size: 5em;
font-family: 'Oswald', sans-serif;
font-weight: 700;
text-transform: uppercase;
line-height: 1em;
color: #fff;
margin-bottom: 8px;
}


#blog-banner h6 {
font-size: 0.75em;
font-family: 'Lato', sans-serif;
font-weight: 900;
letter-spacing: .2em;
color: #fff;
line-height: 1em;
text-transform: uppercase;
margin-bottom: 10px;
}


/*****************************************
Genral CSS
******************************************/

.text-uppercase {
text-transform: uppercase;
}

.text-italic {
font-style: italic;
}


/*****************************************
Blog Post CSS
******************************************/

.post-outer {
margin-bottom: 62px;
}

.post.hentry {
position: relative;
}

.blog-posts .post-inner {margin-left: 0px;}

.post-image {
position: relative;
}

.post-media {overflow: hidden;}
.post-media img {width: 100%;}

.post-image:before {
content: "";
background: url('http://4.bp.blogspot.com/-ErpIS6mkWdo/VIVpRfM7pOI/AAAAAAAAHgk/lGZbqZJvwro/s1600/dots-texture.png') repeat;
position: absolute;
width: 100%;
height: 100%;
opacity: 1;
}

.post-image:hover:before{
opacity:1;
transition:all .2s ease-in;
}

.post-image:after {
content: "";
position: absolute;
background: #000;
width: 100%;
height: 100%;
bottom: 0;
left:0;
opacity: .3;
z-index: 1;
}
.bckpic img {
width: 100%;
}
a.overlay_title {
display: block;
position: absolute;
bottom: 10px;
padding: 20px;
font-size: 26px;
font-family: oswald,sans-serif;
color: white;
text-transform: uppercase;
letter-spacing: 3px;
text-shadow: 1px 1px 1px #000;
font-weight: 400;
z-index: 2;
}


.post-gallery{
width: 100%;
  position: relative;
  overflow: hidden;
}

.featured-gallery a {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  /* IE8 or Earlier */
}
.featured-gallery a img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  border: none;
}
.featured-gallery a .caption {
  display: none;
  position: absolute;
  bottom: 0;
  padding: 15px;
 background-color:rgba(0,0,0,0.60);
  left: 0;
  right: 0;
  margin: 0;
  color: white;
  font-size: 14px;
  line-height: 16px;
}
.jfeatured-gallery .spinner {
  position: absolute;
  bottom: 0;
  margin-left: -24px;
  padding: 10px 0 10px 0;
  left: 50%;
}
.featured-gallery .spinner span {
  display: inline-block;
  opacity: 0;
  filter: alpha(opacity=0);
  /* IE8 or Earlier */
  width: 8px;
  height: 8px;
  margin: 0 4px 0 4px;
  background-color: #000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}



.index-title {padding-top: 20px;}

.index-title h3 ,h1.entry-title {
font-size: 24px;
color: #373737;
margin: 0;
padding: 0;
border: 0;
line-height: 1;
letter-spacing: 3px;
}

.index-title h3 a {
color: #373737;
-webkit-transition: all .3s linear;
-moz-transition: all .3s linear;
-ms-transition: all .3s linear;
-o-transition: all .3s linear;
transition: all .3s linear;
}

h1.post-title {
margin-top: 30px;
}

.post-meta {
font-size: 13px;
color: #c7ab7c;
margin-top: 13px;
}

.post-meta a, .post-meta span {
color: #424242;
}
.post-meta span {
display: inline-block;
padding: 0 5px 0 2px;
}

.post-excerpt {
margin-top: 5px;
}

.post-excerpt p {
font-size: 14px;
font-weight: 300;
line-height: 1.9em;
color: #4c4c4c;
}

.post-excerpt div a {
position: relative;
display: inline-block;
font-size: 14px;
background-color: #c7ab7c;
border:3px solid #c7ab7c;
color:white;
line-height: 38px;
margin-top: 22px;
padding:0 15px;
}

.post-excerpt div a:hover {
background:white;
color:#c7ab7c;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}

.post-excerpt div a:hover:after {
top: 100%;
}

span.index-date.text-uppercase {
position: absolute;
top: 30px;
right: 20px;
font-size: 14px;
font-weight: 400;
line-height: .7em;
padding-right: 5px;
letter-spacing: 2px;
font-family: oswald,sans-serif;
z-index: 3;
color: white;
}

.text-uppercase {
text-transform: uppercase;
}

span.index-date p {
font-family: 'Oswald',sans-serif;
font-size: 24px;
line-height: .7em;
padding-right: 5px;
display: inline-block;
}


.post-body { color: #666; word-wrap:break-word; margin-top:10px; }


/*----------------------
	footer elements css 
----------------------------------------*/

.tags > a {
display: block;
float: left;
padding: 1px 8px;
background: #DAAA58;
font-size: 0.6875em;
font-family: 'open sans', serif;
font-weight: 900;
text-transform: uppercase;
color: #FFFFFF;
margin: 0 5px 5px 0;
transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
}


.cs-about-author {
float: left;
width: 100%;
margin-top:30px;
}

.cs-about-author .icon-auther {
background-color: #626262;
float: left;
height: 50px;
text-align: center;
width: 50px;
}

.cs-about-author .icon-auther i {
color: #fff;
line-height: 50px;
}

.cs-about-author .icon-auther ~ .inner {
float: none;
margin: 0px 0px 0px 50px;
}

.cs-about-author .inner {
background-color: #EFE8D0;
float: left;
padding: 30px;
position: relative;
}

.cs-about-author .inner:before {
border-left: 20px solid transparent;
border-top: 20px solid #EFE8D0;
content: "";
height: 0;
left: -15px;
position: absolute;
top: 0;
width: 0;
}

.cs-about-author figure {
float: left;
width: 100px;
}

.cs-about-author figure img {
border-radius: 100%;
float: left;
width: 100%;
height:100%;
}

.cs-about-author .text {
margin-left: 120px;
}

.cs-about-author h6 {
font-family:'Oswald', sans-serif;
font-size:16px;
letter-spacing: 2px;
line-height: 1.5;
text-transform: uppercase;
}

.cs-about-author p {
font-size: 13px;
line-height: 1.5;
margin-top: 10px;
}


.socialmedia {
margin-top: 30px;
clear: both;
display: inline-block;
width: 100%;
}
.socialmedia h6 {
font-size: 14px;
text-transform: uppercase;
line-height: 1;
letter-spacing: 1px;
display: inline-block;
}
.socialmedia ul {
margin: 0;
padding: 0;
display: inline-block;
margin-left: 20px;
}
.socialmedia ul li {
list-style: none;
display: inline-block;
margin: 0 5px;
padding: 0;
text-align: center;
}

.socialmedia ul li a {
font-size: 18px;
line-height: 1;
width: 30px;
height: 30px;
border-radius: 50%;
background: #DAAA58;
display: block;
padding: 6px;
color: white;
}


div#related-posts {
font-size: 16px;
display: inline-block;
width: 100%;
margin-top: 30px;
}

div#related-posts h5 {
font-size: 16px;
letter-spacing: 2px;
text-transform: uppercase;
margin-bottom: 10px;
}

div#related-posts ul {
padding: 0;
margin: 0;
}
div#related-posts ul li {
list-style: none;
display: block;
float: left;
width: 26%;
margin: 0 20px;
text-align: center;
position:relative;
}


div#related-posts img {
border-radius: 50%;
padding: 0;
border: 5px solid #333;
width: 200px;
}

a.related-thumbs {
position: relative;
display: block;
}

a.related-thumbs:before {
content: "";
background: url('http://4.bp.blogspot.com/-ErpIS6mkWdo/VIVpRfM7pOI/AAAAAAAAHgk/lGZbqZJvwro/s1600/dots-texture.png') repeat;
position: absolute;
top: 3px;
left: 3px;
right: 0;
width: 97%;
height: 97%;
display: block;
border-radius: 50%;
border: 10px solid transparent;
opacity: .2;
}

a.related-thumbs:before{
opacity:1;
}



a.related-title {
font-weight: bold;
text-transform: uppercase;
font-size: 14px;
display: block;
padding-top: 10px;
letter-spacing:1px;
margin: 0 30px;
position: absolute;
top: 32%;
color: white;
text-shadow:1px 1px 1px #000;
}


/***** Page Nav CSS *****/
#blog-pager { background: #FFFFFF; display: inline-block; margin: 1px 0; overflow: visible; padding: 0; width: 100%; }

.showpageOf, .home-link {  display:none;  }
.showpagePoint {background-color: #c7ab7c;border: 3px solid #c7ab7c; color: #FFFFFF;  margin: 0 10px 0 0;  padding: 5px 10px;  text-decoration: none;  border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px;  }

.showpage a, .showpageNum a { background-color: #c7ab7c;border: 3px solid #c7ab7c;color: #FFFFFF; margin: 0 10px 0 0; padding: 5px 10px; text-decoration: none; border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px; }

.showpage a:hover, .showpageNum a:hover {  background: #fff;  color: #c7ab7c;  border-radius: 3px;  -moz-border-radius: 3px;  -o-border-radius: 3px;  -webkit-border-radius: 3px;  text-decoration: none;  }

#blog-pager-newer-link { padding: 0; position: relative; text-align: left; width: 40%; }
#blog-pager-older-link { padding: 0; position: relative; text-align: right; width: 40%; }

#blog-pager-newer-link .newer-text, #blog-pager-older-link .older-text { display: none; color: #999; }

a#Blog1_blog-pager-newer-link, a#Blog1_blog-pager-older-link {
background: white;
color: #c7ab7c;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
position: relative;
display: inline-block;
font-size: 14px;
border: 3px solid #c7ab7c;
line-height: 38px;
margin-top: 22px;
padding: 0 15px;
}



/*****************************************
Post Highlighter CSS
******************************************/

blockquote {
position: relative;
padding-top: 30px!important;
padding-bottom: 30px!important;
margin-top: 30px;
margin-bottom: 30px;
display: block;
font-family: 'Fanwood Text',serif;
font-style: oblique;
font-size: 26px;
color: #403f3f;
padding: 0 16px;
line-height: 1.4em;
}

blockquote:before ,blockquote:after{
content: '';
display: block;
position: absolute;
width: 29px;
height: 20px;
background: url(http://4.bp.blogspot.com/-JFNu3NuXnFY/VISno0nouxI/AAAAAAAAHgQ/p1VFUEsdWX0/s1600/quote-post-icon-3.png) no-repeat;
top: 0;
left: 0;
}

blockquote:after {
background: url(http://1.bp.blogspot.com/-WK82iD91zJ4/VISnoWg7zMI/AAAAAAAAHgM/mqyKYGdk3ZI/s1600/quote-post-icon-2.png) no-repeat;
left: auto;
right: 0;
bottom: 0;
top: auto;
}
/*****************************************
Sidebar CSS
******************************************/
.sidebar { margin: 0; padding: 0; display: block; }

.sidebar h2 {
font-size: 18px;
color: #373737;
margin-top: 0;
margin-bottom: 15px;
padding-bottom:10px;
text-transform: uppercase;
letter-spacing: 5px;
border-bottom: 1px solid #e7e7e7;
position:relative;
}

.sidebar h2:before {
content: '';
position: absolute;
display: block;
background-color: #c7ab7b;
width: 5px;
height: 5px;
bottom: -3px;
left: 2px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.sidebar .widget { background: #fff; padding: 2px 20px; clear: both; font-size: 13px; line-height: 23px; margin-bottom: 30px; }

.sidebar ul { margin: 0; padding: 0; list-style: none; }

.sidebar li {
position: relative;
display: block;
line-height: 2em;
padding: 0;
}



/*****************************************
       Footer Credits CSS
******************************************/

div#footer {
background: rgba(0, 0, 0, 0.66);
display: inline-block;
width: 100%;
font-size: 14px;
line-height: 1.6;
color: #f7f7f7;
position: relative;
}

div#footer::before {
content: '';
background: url(http://4.bp.blogspot.com/-SdbMtKPNBXY/VIVpSGCkkCI/AAAAAAAAHgs/T2ykOPWWS5o/s1600/blog-bg.jpg) 50% 50% / cover no-repeat;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
z-index:-1;
opacity:.8;
}

div#footer:after {
content: "";
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: rgba(255, 255, 255, 0.05) url('http://4.bp.blogspot.com/-ErpIS6mkWdo/VIVpRfM7pOI/AAAAAAAAHgk/lGZbqZJvwro/s1600/dots-texture.png') repeat;
z-index: -1;
}

div#footer .footer {
width: 32%;
float: left;
margin: 30px auto;
}
div#footer .footer h2 {
color: white;
text-transform: uppercase;
letter-spacing: 3px;
font-weight: 400;
font-size: 16px;
margin:0 3px;
margin-bottom: 20px;
}

div#footer .footer .widget {
padding: 0 25px;
}

div#footer .footer ul {
padding: 0;
margin: 0;
}

div#footer .footer ul li{
list-style:none;
}

div#footer .footer a{
color:#ccc;
}

.footer-credits {
clear: both;
color: #FFFFFF;
display: block;
font-size: 13px;
line-height: 23px;
margin: 20px 0;
padding: 0;
text-align: center;
}

.footer-credits a { color: #ccc; }
.footer-credits a:hover { color: #fff; }

/*****************************************
Custom Widget CSS
******************************************/
/***** Search Form *****/


fieldset {
border: 0;
}
#searchform input#s {
width: 100%;
height: 45px;
line-height: 45px;
font-size: 1.4em;
font-style: italic;
color: #8d8d8d;
padding: 0 20px;
border: 1px solid #bcbbbb;
outline: 0;
box-shadow: none;
}

/***** Custom Labels *****/
.cloud-label-widget-content { display: inline-block; text-align: left; }
.cloud-label-widget-content .label-size { display: inline-block; float: left; font-size: 10px; font-family: Verdana,Arial,Tahoma,sans-serif; font-weight: bold; line-height: normal; margin: 5px 5px 0 0; opacity: 1; text-transform: uppercase; }
.cloud-label-widget-content .label-size a { color: #000 !important; float: left; padding: 5px; }
.cloud-label-widget-content .label-size:hover a { color: #555 !important; }
.cloud-label-widget-content .label-size .label-count { color: #555; padding: 5px 0; float: left; }

.footer .Label li {
display: inline-block;
margin: 3px 5px;
height: 35px;
}
.footer .Label li a {
border: 1px solid #ccc;
padding: 3px 10px;
}

/***** Popular Post *****/

.PopularPosts .item-thumbnail img {display: block;float: left;height: 90px;width: 90px;border: 5px solid #373737;padding: 0;border-radius: 50%;}
.PopularPosts .item-title {padding-bottom: .2em;line-height: 1.5;font-size: 11px;font-family: open sans,sans-serif;text-transform: uppercase;letter-spacing: 1px;font-weight: 700;margin-top: 10px;}
.item-snippet {font-size: 90%;line-height: 1.3;clear: both;}
.item-thumbnail,  .item-title {float: left;width: 100px;}
.item-title {width: 125px;}
.item-snippet {display: none;}
.footer .popular-posts ul li:nth-child(n+4){display:none;}
.footer .popular-posts .item-thumbnail img {border-color:#d5d5d5;}
.footer .popular-posts li{padding:5px 0;}


/***** Blogger Contact Form Widget *****/
.contact-form-email, .contact-form-name, .contact-form-email-message, .contact-form-email:hover, .contact-form-name:hover, .contact-form-email-message:hover, .contact-form-email:focus, .contact-form-name:focus, .contact-form-email-message:focus { background: #F8F8F8; border: 1px solid #D2DADD; box-shadow: 0 1px 1px #F3F4F6 inset; max-width: 300px; color: #999; }
.contact-form-button-submit { background: #000; border: medium none; float: right; height: auto; margin: 10px 0 0; max-width: 300px; padding: 5px 10px; width: 100%; cursor: pointer; }
.contact-form-button-submit:hover { background: #2980B9; border: none; }

/***** Profile Widget CSS *****/
.Profile img { border:1px solid #cecece; background:#fff; float:left; margin:5px 10px 5px 0; padding: 5px; -webkit-border-radius: 50%;	-moz-border-radius: 50%; border-radius: 50%; }
.profile-data { color:#999999; font:bold 20px/1.6em Arial,Helvetica,Tahoma,sans-serif; font-variant:small-caps; margin:0; text-transform:capitalize;}
.profile-datablock { margin:0.5em 0;}
.profile-textblock { line-height:1.6em; margin:0.5em 0;}
a.profile-link { clear:both; display:block; font:80% monospace; padding:10px 0; text-align:center; text-transform:capitalize;}


/***** About The Author *****/

#About { background: #FFFFFF; display: inline-block; padding: 25px 3%; width: 94%; }
#About .widget-content { position: relative; width: 100%; }
#About .widget-content .main-wrap { width: auto; margin-right: 370px; }
#About .widget-content .main-wrap .info { float: left; position: relative; width: 90%; padding: 10px 5%; }
#About .widget-content .side-wrap { width: 340px; float: right; text-align: center; }
#About .widget-content .main-wrap .info h5 { border-bottom: 1px solid #F1F4F9; color: #000000; font-size: 16px; font-weight: bold; margin: 0 0 10px; padding: 0 0 5px; text-transform: capitalize; } 
#About .widget-content .main-wrap .info p { color: #555; font-style: italic; } 
#About .widget-content .side-wrap .author-img { border: 1px solid #CECECE; height: 150px; vertical-align: bottom; width: 150px; -webkit-border-radius: 50%;	-moz-border-radius: 50%; border-radius: 50%; }
ul.author-social { display: inline-block; margin: 10px 0 0; padding: 0; }
ul.author-social li { background: url("http://3.bp.blogspot.com/-Mu6D1ld_3TE/U35bF1XXIVI/AAAAAAAADBM/VaHEtkyX3MA/s1600/sprites.png") no-repeat; display: inline-block; font-weight: bold; font-size: 12px; line-height: 16px; list-style: none; padding: 0 20px; }
ul.author-social li.facebook { background-position: 0 -80px; }
ul.author-social li.twitter { background-position: 0 -100px; }
ul.author-social li.googleplus { background-position: 0 -120px; }
ul.author-social li.rss { background-position: 0 -176px; }
ul.author-social li a { color: #000; }
ul.author-social li a:hover { color: #666; }




/*****************************************
Comments CSS
******************************************/
.comments { margin-top: 30px; }
.comments h4 { font-size: 20px; margin: 0 0 18px; text-transform: capitalize; }
.comments .comments-content .comment-thread ol { overflow: hidden; margin: 0; }
.comments .comments-content .comment:first-child { padding-top: 0; }
.comments .comments-content .comment { margin-bottom: 0; padding-bottom: 0; }
.comments .avatar-image-container { max-height: 60px; width: 60px; }
.comments .avatar-image-container img { max-width: 60px; width: 100%; }
.comments .comment-block { background: #fff; margin-left: 72px; padding: 14px 0 0 20px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.comments .comments-content .comment-header a { color: #333; text-transform: capitalize; }
.comments .comments-content .user { display: block; font-style: italic; font-weight: bold; }
.comments .comments-content .datetime { margin-left: 0; }
.comments .comments-content .datetime a { font-size: 12px; text-transform: uppercase; }
.comments .comments-content .comment-header, .comments .comments-content .comment-content { margin: 0 20px 0 0; }
.comments .comment-block .comment-actions { display: block; text-align: right; }
.comments .comment .comment-actions a { border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius:2px; background: #2980B9; color: #FFFFFF; display: inline-block; font-size: 12px; line-height: normal; margin-left: 1px; padding: 5px 8px; }
.comments .comment .comment-actions a:hover { text-decoration: none; }
.comments .thread-toggle { display: none; }
.comments .comments-content .inline-thread { border-left: 1px solid #F4F4F4; margin: 0 0 20px 35px !important; padding: 0 0 0 20px; }
.comments .continue { display: none; }

.comment-thread ol { counter-reset: countcomments; }
.comment-thread li:before { color: #2980B9; content: counter(countcomments, decimal); counter-increment: countcomments; float: right; font-size: 22px; padding: 15px 20px 10px; position: relative; z-index: 10; }
.comment-thread ol ol { counter-reset: contrebasse; }
.comment-thread li li:before { content: counter(countcomments,decimal) "." counter(contrebasse,lower-latin); counter-increment: contrebasse; float: right; font-size: 18px; }

/*****************************************
Responsive styles
******************************************/
@media screen and (max-width: 960px) {
.ct-wrapper{ padding:0 15px; }
.main-wrapper { margin-right:0; width:100%; }
.sidebar-wrapper{ float: left; width: auto; margin-top: 30px; }
#About .widget-content .main-wrap { margin-right: 0; }
#About .widget-content .main-wrap .info { float: none; text-align: center; width: 90%; padding: 10px 5%; }
#About .widget-content .side-wrap { width: 100%; float: none; text-align: center; }
.button-menu-mobile {display: block!important;z-index: 1000000;position: absolute;top:10px;left;10px}

.head-menu > ul{display:none;}
.nav-wrapper {background:none;padding: 0;height: 0;}
.head-menu > ul {z-index:10000;display: none;width: 300px;position: relative;clear: both;top: 40px;left: 0;text-align:left;}
.nav li {display: block;}
.nav li a {padding: 15px 5px;}
}

@media screen and (max-width: 768px){
#comment-editor { margin:10px; }
#header img {height: 110px;}
#blog-banner{height:390px;padding-top:200px;}
#blog-banner h1 {font-size: 3.5em;}

}


@media screen and (max-width: 500px){
#header img { height:90px;}
div#footer .footer {width: 100%;float: none;}
div#related-posts ul li{margin:0 10px}
a.related-title{display:none;}
.nav li a {display: block;padding: 15px 5px;font-size: 14px;}
.main-wrapper {padding: 0!important;}
a.overlay_title {display: none;}
}

@media screen and (max-width: 420px){
.comments .comments-content .datetime{    display:block;    float:none;    }
.comments .comments-content .comment-header {    height:70px;    }
#blog-banner{height:335px;padding-top: 200px;}
#blog-banner h1{font-size:3em;}


}
@media screen and (max-width: 320px){
.ct-wrapper{ padding:0; }
.post-body img{  max-width: 230px; }
.comments .comments-content .comment-replies {    margin-left: 0;    }
}

/*****************************************
Hiding Header Date and Feed Links
******************************************/
h2.date-header,.blog-admin{display:none!important;}